body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: "Arial", sans-serif;
    overflow: hidden;
  }
  
  .card-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  .card p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0 20px;
  }
  
  @keyframes glowing {
    0% {
      border-color: #ff0077;
      box-shadow: 0 0 10px #ff0077;
    }
    50% {
      border-color: #ffd700;
      box-shadow: 0 0 20px #ffd700;
    }
    100% {
      border-color: #ff0077;
      box-shadow: 0 0 10px #ff0077;
    }
  }

  @keyframes flickerBlue {
    0% { color: #0000ff; }
    25% { color: #1e90ff; }
    50% { color: #87ceeb; }
    75% { color: #add8e6; }
    100% { color: #0000ff; }
  }
 

  .card .newYear{
    background: linear-gradient(90deg, #ff007f, #ffae00, #00ffcc, #007fff, #d233ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    padding: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  
  /* Spark effect */
  .spark {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vh;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9), transparent);
    
  }
  
  @keyframes spark {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
 
  
 
  
  
  

  @keyframes running-border {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    75% {
      opacity: 0.9;
    }
    85% {
      opacity: 0.6;
    }
  }

  .border{
    border-radius: 10px;
    border: 4px solid transparent;
    animation: running-border 5s linear infinite , flicker 0.5s infinite;
    background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #0000ff, #ff0000);
    box-shadow: 0px 0px 10px 2px #ff0077;
    background-size: 300% 300%;
  }

  .NewClick{
    display: flex;
    margin: 1rem;
    justify-content: center;
    width: 4rem;
    border-radius: 20%;
    background-color: #87ceeb;
  }

